# Keys
*.pem

.env
# Terraform metadata
/terraform/.terraform

# Terraform state files and locks
/terraform/backend.tfvars
/terraform/terraform.tfvars
/terraform/terraform.tfstate*
/terraform/.terraform.tfstate*
